@model MunicipalityManagementSystem.Models.Report

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Report</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportID" />
            <div class="form-group">
                <label asp-for="CitizenID" class="control-label"></label>
                <input asp-for="CitizenID" class="form-control" />
                <span asp-validation-for="CitizenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportType" class="control-label"></label>
                <input asp-for="ReportType" class="form-control" />
                <span asp-validation-for="ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDate" class="control-label"></label>
                <input asp-for="SubmissionDate" class="form-control" />
                <span asp-validation-for="SubmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
