@model MunicipalityManagementSystem.Models.Citizen

@{
    ViewData["Title"] = "Delete Citizen";
}

<h1>Delete Citizen</h1>

<h4>Are you sure you want to delete this citizen?</h4>
<hr />
<div class="form-group">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="DateOfBirth" class="control-label"></label>
    <input asp-for="DateOfBirth" class="form-control" readonly />
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CitizenID" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </div>
</form>
